/*========================
		base styles
=======================*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	line-height: 1.5;
	font-family: 'Merriweather', serif;
	background-color: #fbfbf8;

}

.wrapper{
	width: 90%;
	margin: 0 auto;
	max-width: 768px;
	
}

.main-header,
.intro,
.main-footer{
	text-align: center;

}

input::placeholder{
	text-align: right;
}


.main-header{
	background: #14586e;
	color: #fff;
	font-size: .752em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-bottom: 40px;
}

.intro{
	padding-bottom: 50px;
	border-bottom: 5px solid black;
}


.signup{
	margin-bottom: 10px;
	font-size: 1.2em;
}

main{
	border-top: 2px solid black;
	margin-top: 4px;
	
}

input,
textarea{
	outline: none;
}

fieldset{
	border:none;

}

.intro .description,
input::placeholder,
label,
p,
select{
	color: darkgrey;

}
.contact-info,
.newletter,
.select{
	margin: 8px 0;
}

#contact-field{
	border-bottom: 2px solid black;
	padding-bottom: 20px;

}

#newsletter-field{
	background: #96f593;
	padding: 1em 2em;
}

.contact-info,
.newletter{
	padding-top: 3em;
	font-size: 1.5em;
	font-weight: bold;
}

.main-footer{
	margin-top: 2em;
	height: 150px;
}




/*================================
		form label styles
==========================*/



label[for$="news"],
label[for$="format"]{
	margin-left: 10px;
}

label[for="topics"]{
	margin: 10px 0;
	display: block;
}



/*=====================
		form input styles
==============================*/




input[type="text"],
input[type="email"],
input[type="tel"],
select{
	width: 100%;
	padding: 1em;
	margin-bottom: 2em;
	font-size: 1em;
	border-radius: 4px;
	background: lightgrey;
	border: none;
	-webkit-appearance: none;
         -moz-appearance: none;
}


input[id="zipcode"]{
	width: 30%;
	display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
	transition: border .3s ease-in;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus{
	border:solid 3px rebeccapurple;
}


input[type="checkbox"],
input[type="radio"]{
	margin-bottom: 30px;
}


textarea{
	width: 100%;
	min-height: 150px;
	background-color: lightgrey;
	font-size: 1em;
}


.btn{
	width: 100%;
	padding: 1.3em;
	margin: 2em 0 0 0;
	background: teal;
	color: white;
	font-size: 1em;
	cursor: pointer;
}


/*============================
		media queary
==================================*/

@media (min-width:768px){

	.flex,
	.flex-zip{
		display: flex;
	}

	.flex-zip label,
	.flex label{
		flex-basis: 20%;
		margin-top: 15px;
	}


	.flex input[type="text"],
	.flex input[type="email"],
	.flex input[type="tel"],
	select{
		flex: 2 70%;	

	}




}








